@import url(default.css);

#post-info {
	width: 800px;
	left: 50%;
	margin-left: -350px;
	bottom: 100px;
}

#post-info h1 {
	font-weight: bold;
	font-size: 44px;
	line-height: 44px;
}

#home-title {
	width: 800px;
	margin-left: -350px;
}

#bg-video {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	overflow: hidden;
}


.wide {
  	width: 1200px;
}

.column {
  	width: 800px;
}


.img-float {
   float: left;
   max-width: 595px;
}

.img-float:first-child {
   padding-right: 10px;
}

.menu {
	position: fixed;
}

.menu-content {
	position: fixed;
}

.pagination, #post-list {
	width: 800px;
	left: 50%;
	margin-left: -350px;
}

.copyright {
	right: 20px;
}
